USE [master]
GO
/****** Object:  Database [bloodDSystem]    Script Date: 22/07/2025 9:07:28 CH ******/
CREATE DATABASE [bloodDSystem]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'bloodDSystem', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\bloodDSystem.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'bloodDSystem_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\bloodDSystem_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [bloodDSystem].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [bloodDSystem]
GO
/****** Object:  Table [dbo].[BloodComponents]    Script Date: 22/07/2025 9:07:28 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BloodComponents](
	[component_id] [int] IDENTITY(1,1) NOT NULL,
	[component_name] [nvarchar](255) NOT NULL,
	[description] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[component_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BloodTypes]    Script Date: 22/07/2025 9:07:29 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BloodTypes](
	[blood_type_id] [int] IDENTITY(1,1) NOT NULL,
	[type_name] [varchar](10) NOT NULL,
	[description] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[blood_type_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BloodUnits]    Script Date: 22/07/2025 9:07:29 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BloodUnits](
	[unit_id] [nvarchar](36) NOT NULL,
	[donation_id] [nvarchar](36) NULL,
	[blood_type_id] [int] NOT NULL,
	[component_id] [int] NOT NULL,
	[volume_ml] [int] NOT NULL,
	[collection_date] [date] NOT NULL,
	[expiration_date] [date] NOT NULL,
	[storage_location] [nvarchar](100) NULL,
	[test_results] [nvarchar](max) NULL,
	[status] [varchar](20) NULL,
	[discard_reason] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[unit_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DonationHistory]    Script Date: 22/07/2025 9:07:29 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonationHistory](
	[donation_id] [nvarchar](36) NOT NULL,
	[donor_user_id] [nvarchar](36) NOT NULL,
	[donation_date] [datetime2](7) NOT NULL,
	[blood_type_id] [int] NOT NULL,
	[component_id] [int] NOT NULL,
	[quantity_ml] [int] NULL,
	[eligibility_status] [varchar](20) NULL,
	[reason_ineligible] [nvarchar](max) NULL,
	[testing_results] [nvarchar](max) NULL,
	[staff_user_id] [nvarchar](36) NULL,
	[status] [varchar](20) NULL,
	[EmergencyID] [nvarchar](36) NULL,
	[Descriptions] [nvarchar](max) NULL,
	[donation_request_id] [nvarchar](36) NULL,
PRIMARY KEY CLUSTERED 
(
	[donation_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DonationRequests]    Script Date: 22/07/2025 9:07:29 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonationRequests](
	[request_id] [nvarchar](36) NOT NULL,
	[donor_user_id] [nvarchar](36) NOT NULL,
	[blood_type_id] [int] NOT NULL,
	[component_id] [int] NOT NULL,
	[preferred_date] [date] NULL,
	[preferred_time_slot] [nvarchar](50) NULL,
	[status] [varchar](20) NULL,
	[request_date] [datetime2](7) NULL,
	[staff_notes] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[request_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmergencyNotifications]    Script Date: 22/07/2025 9:07:29 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmergencyNotifications](
	[notification_id] [nvarchar](36) NOT NULL,
	[emergency_id] [nvarchar](36) NOT NULL,
	[recipient_user_id] [nvarchar](36) NOT NULL,
	[sent_date] [datetime2](7) NULL,
	[delivery_method] [varchar](20) NOT NULL,
	[is_read] [bit] NULL,
	[response_status] [varchar](20) NULL,
	[Message] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[notification_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmergencyRequests]    Script Date: 22/07/2025 9:07:29 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmergencyRequests](
	[emergency_id] [nvarchar](36) NOT NULL,
	[requester_user_id] [nvarchar](36) NOT NULL,
	[blood_type_id] [int] NOT NULL,
	[component_id] [int] NOT NULL,
	[quantity_needed_ml] [int] NOT NULL,
	[priority] [varchar](10) NULL,
	[due_date] [datetime2](7) NOT NULL,
	[creation_date] [datetime2](7) NULL,
	[fulfillment_date] [datetime2](7) NULL,
	[description] [nvarchar](max) NULL,
	[status] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[emergency_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notifications]    Script Date: 22/07/2025 9:07:29 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notifications](
	[notification_id] [nvarchar](36) NOT NULL,
	[recipient_user_id] [nvarchar](36) NOT NULL,
	[message] [nvarchar](max) NOT NULL,
	[type] [varchar](20) NULL,
	[sent_date] [datetime2](7) NULL,
	[is_read] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[notification_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OtpCodes]    Script Date: 22/07/2025 9:07:29 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OtpCodes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Email] [varchar](100) NOT NULL,
	[Code] [varchar](10) NOT NULL,
	[ExpiredAt] [datetime2](7) NOT NULL,
	[IsUsed] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReminderLogs]    Script Date: 22/07/2025 9:07:29 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReminderLogs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](36) NOT NULL,
	[ReminderType] [varchar](50) NOT NULL,
	[SentAt] [datetime] NOT NULL,
	[Via] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 22/07/2025 9:07:29 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[role_id] [int] IDENTITY(1,1) NOT NULL,
	[role_name] [varchar](50) NOT NULL,
	[description] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserProfiles]    Script Date: 22/07/2025 9:07:29 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserProfiles](
	[profile_id] [nvarchar](36) NOT NULL,
	[user_id] [nvarchar](36) NOT NULL,
	[full_name] [nvarchar](100) NOT NULL,
	[date_of_birth] [date] NULL,
	[gender] [varchar](10) NULL,
	[address] [nvarchar](255) NULL,
	[latitude] [decimal](9, 6) NULL,
	[longitude] [decimal](9, 6) NULL,
	[blood_type_id] [int] NULL,
	[rh_factor] [varchar](10) NULL,
	[medical_history] [nvarchar](max) NULL,
	[last_blood_donation_date] [date] NULL,
	[CCCD] [varchar](20) NULL,
	[phone_number] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[profile_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 22/07/2025 9:07:29 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[user_id] [nvarchar](36) NOT NULL,
	[username] [varchar](50) NOT NULL,
	[password_hash] [varchar](255) NOT NULL,
	[email] [varchar](100) NULL,
	[role_id] [int] NOT NULL,
	[registration_date] [datetime2](7) NULL,
	[last_login_date] [datetime2](7) NULL,
	[is_active] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BloodComponents] ON 

INSERT [dbo].[BloodComponents] ([component_id], [component_name], [description]) VALUES (1, N'Màu Toàn Phần', N'Các tế bào máu toàn phần')
INSERT [dbo].[BloodComponents] ([component_id], [component_name], [description]) VALUES (2, N'Hồng Cầu', N'Các tế bào mang oxy')
INSERT [dbo].[BloodComponents] ([component_id], [component_name], [description]) VALUES (3, N'Tiểu Cầu', N'Các tế bào tham gia đông máu')
SET IDENTITY_INSERT [dbo].[BloodComponents] OFF
GO
SET IDENTITY_INSERT [dbo].[BloodTypes] ON 

INSERT [dbo].[BloodTypes] ([blood_type_id], [type_name], [description]) VALUES (1, N'A+', N'A positive')
INSERT [dbo].[BloodTypes] ([blood_type_id], [type_name], [description]) VALUES (2, N'A-', N'A negative')
INSERT [dbo].[BloodTypes] ([blood_type_id], [type_name], [description]) VALUES (3, N'B+', N'B positive')
SET IDENTITY_INSERT [dbo].[BloodTypes] OFF
GO
INSERT [dbo].[BloodUnits] ([unit_id], [donation_id], [blood_type_id], [component_id], [volume_ml], [collection_date], [expiration_date], [storage_location], [test_results], [status], [discard_reason]) VALUES (N'UNIT_0001', N'DONATION_0001', 1, 1, 500, CAST(N'2023-01-01' AS Date), CAST(N'2023-07-01' AS Date), N'Storage A', N'Failed', N'Available', N'Hết hạn sử dụng')
INSERT [dbo].[BloodUnits] ([unit_id], [donation_id], [blood_type_id], [component_id], [volume_ml], [collection_date], [expiration_date], [storage_location], [test_results], [status], [discard_reason]) VALUES (N'UNIT_0002', N'DONATION_0002', 2, 2, 300, CAST(N'2023-02-01' AS Date), CAST(N'2023-08-01' AS Date), N'Storage B', N'Failed', N'Available', N'Không đạt yêu cầu')
INSERT [dbo].[BloodUnits] ([unit_id], [donation_id], [blood_type_id], [component_id], [volume_ml], [collection_date], [expiration_date], [storage_location], [test_results], [status], [discard_reason]) VALUES (N'UNIT_0003', N'DONATION_0003', 3, 3, 200, CAST(N'2023-03-01' AS Date), CAST(N'2023-09-01' AS Date), N'Storage C', N'Failed', N'Available', N'Bị nhiễm bẩn')
GO
INSERT [dbo].[DonationHistory] ([donation_id], [donor_user_id], [donation_date], [blood_type_id], [component_id], [quantity_ml], [eligibility_status], [reason_ineligible], [testing_results], [staff_user_id], [status], [EmergencyID], [Descriptions], [donation_request_id]) VALUES (N'DONATION_0001', N'USER_0003', CAST(N'2023-01-01T00:00:00.0000000' AS DateTime2), 1, 1, 500, N'Eligible', NULL, N'Passed', N'USER_0002', N'Completed', N'EMERG_0001', N'Donation Successful', N'REQUEST_001')
INSERT [dbo].[DonationHistory] ([donation_id], [donor_user_id], [donation_date], [blood_type_id], [component_id], [quantity_ml], [eligibility_status], [reason_ineligible], [testing_results], [staff_user_id], [status], [EmergencyID], [Descriptions], [donation_request_id]) VALUES (N'DONATION_0002', N'USER_0004', CAST(N'2023-02-01T00:00:00.0000000' AS DateTime2), 2, 2, 300, N'Eligible', NULL, N'Passed', N'USER_0002', N'Cancelled', N'EMERG_0002', N'Donation Cancelled', N'REQUEST_002')
INSERT [dbo].[DonationHistory] ([donation_id], [donor_user_id], [donation_date], [blood_type_id], [component_id], [quantity_ml], [eligibility_status], [reason_ineligible], [testing_results], [staff_user_id], [status], [EmergencyID], [Descriptions], [donation_request_id]) VALUES (N'DONATION_0003', N'USER_0005', CAST(N'2023-03-01T00:00:00.0000000' AS DateTime2), 3, 3, 200, N'Not Eligible', N'Low Hemoglobin', N'Failed', N'USER_0002', N'Pending', N'EMERG_0003', N'Donation Failed', N'REQUEST_003')
GO
INSERT [dbo].[DonationRequests] ([request_id], [donor_user_id], [blood_type_id], [component_id], [preferred_date], [preferred_time_slot], [status], [request_date], [staff_notes]) VALUES (N'DONR_219520', N'USER_C49E33', 1, 1, CAST(N'2025-07-16' AS Date), N'15:00 - 16:30', N'Pending', CAST(N'2025-07-16T05:57:48.5862749' AS DateTime2), N'')
INSERT [dbo].[DonationRequests] ([request_id], [donor_user_id], [blood_type_id], [component_id], [preferred_date], [preferred_time_slot], [status], [request_date], [staff_notes]) VALUES (N'REQUEST_0001', N'USER_0003', 1, 1, CAST(N'2023-11-01' AS Date), N'08:00 AM - 10:00 AM', N'Pending', CAST(N'2023-11-01T00:00:00.0000000' AS DateTime2), N'Urgent request')
INSERT [dbo].[DonationRequests] ([request_id], [donor_user_id], [blood_type_id], [component_id], [preferred_date], [preferred_time_slot], [status], [request_date], [staff_notes]) VALUES (N'REQUEST_0002', N'USER_0004', 2, 2, CAST(N'2023-11-02' AS Date), N'10:00 AM - 12:00 PM', N'Pending', CAST(N'2023-11-02T00:00:00.0000000' AS DateTime2), N'Urgent request')
GO
INSERT [dbo].[EmergencyNotifications] ([notification_id], [emergency_id], [recipient_user_id], [sent_date], [delivery_method], [is_read], [response_status], [Message]) VALUES (N'NOTIF_0001', N'EMERG_0001', N'USER_0003', CAST(N'2023-11-01T00:00:00.0000000' AS DateTime2), N'Email', 0, N'No Response', N'Urgent blood request notification')
INSERT [dbo].[EmergencyNotifications] ([notification_id], [emergency_id], [recipient_user_id], [sent_date], [delivery_method], [is_read], [response_status], [Message]) VALUES (N'NOTIF_0002', N'EMERG_0002', N'USER_0004', CAST(N'2023-11-02T00:00:00.0000000' AS DateTime2), N'Email', 0, N'No Response', N'Urgent blood request notification')
INSERT [dbo].[EmergencyNotifications] ([notification_id], [emergency_id], [recipient_user_id], [sent_date], [delivery_method], [is_read], [response_status], [Message]) VALUES (N'NOTIF_0003', N'EMERG_0003', N'USER_0005', CAST(N'2023-11-03T00:00:00.0000000' AS DateTime2), N'Email', 0, N'No Response', N'Urgent blood request notification')
GO
INSERT [dbo].[EmergencyRequests] ([emergency_id], [requester_user_id], [blood_type_id], [component_id], [quantity_needed_ml], [priority], [due_date], [creation_date], [fulfillment_date], [description], [status]) VALUES (N'EMERG_0001', N'USER_0003', 1, 1, 500, N'High', CAST(N'2023-11-01T00:00:00.0000000' AS DateTime2), CAST(N'2023-11-01T00:00:00.0000000' AS DateTime2), NULL, N'Urgent blood needed for patient', N'Pending')
INSERT [dbo].[EmergencyRequests] ([emergency_id], [requester_user_id], [blood_type_id], [component_id], [quantity_needed_ml], [priority], [due_date], [creation_date], [fulfillment_date], [description], [status]) VALUES (N'EMERG_0002', N'USER_0004', 2, 2, 300, N'High', CAST(N'2023-11-02T00:00:00.0000000' AS DateTime2), CAST(N'2023-11-02T00:00:00.0000000' AS DateTime2), NULL, N'Urgent blood needed for patient', N'Pending')
INSERT [dbo].[EmergencyRequests] ([emergency_id], [requester_user_id], [blood_type_id], [component_id], [quantity_needed_ml], [priority], [due_date], [creation_date], [fulfillment_date], [description], [status]) VALUES (N'EMERG_0003', N'USER_0005', 3, 3, 200, N'Medium', CAST(N'2023-11-03T00:00:00.0000000' AS DateTime2), CAST(N'2023-11-03T00:00:00.0000000' AS DateTime2), NULL, N'Urgent blood needed for patient', N'Pending')
GO
INSERT [dbo].[Notifications] ([notification_id], [recipient_user_id], [message], [type], [sent_date], [is_read]) VALUES (N'NOTIF_0001', N'USER_0003', N'Reminder to donate blood', N'Reminder', CAST(N'2023-11-01T00:00:00.0000000' AS DateTime2), 0)
INSERT [dbo].[Notifications] ([notification_id], [recipient_user_id], [message], [type], [sent_date], [is_read]) VALUES (N'NOTIF_0002', N'USER_0004', N'Reminder to donate blood', N'Reminder', CAST(N'2023-11-02T00:00:00.0000000' AS DateTime2), 0)
INSERT [dbo].[Notifications] ([notification_id], [recipient_user_id], [message], [type], [sent_date], [is_read]) VALUES (N'NOTIF_0003', N'USER_0005', N'Reminder to donate blood', N'Reminder', CAST(N'2023-11-03T00:00:00.0000000' AS DateTime2), 0)
GO
SET IDENTITY_INSERT [dbo].[OtpCodes] ON 

INSERT [dbo].[OtpCodes] ([Id], [Email], [Code], [ExpiredAt], [IsUsed]) VALUES (1, N'nguyenminhquan@example.com', N'123456', CAST(N'2023-11-01T00:00:00.0000000' AS DateTime2), 0)
INSERT [dbo].[OtpCodes] ([Id], [Email], [Code], [ExpiredAt], [IsUsed]) VALUES (2, N'trangthithu@example.com', N'654321', CAST(N'2023-11-02T00:00:00.0000000' AS DateTime2), 0)
INSERT [dbo].[OtpCodes] ([Id], [Email], [Code], [ExpiredAt], [IsUsed]) VALUES (3, N'phamminhduc@example.com', N'987654', CAST(N'2023-11-03T00:00:00.0000000' AS DateTime2), 0)
SET IDENTITY_INSERT [dbo].[OtpCodes] OFF
GO
SET IDENTITY_INSERT [dbo].[ReminderLogs] ON 

INSERT [dbo].[ReminderLogs] ([Id], [UserId], [ReminderType], [SentAt], [Via]) VALUES (1, N'USER_0003', N'Blood Donation Reminder', CAST(N'2023-11-01T00:00:00.000' AS DateTime), N'Email')
INSERT [dbo].[ReminderLogs] ([Id], [UserId], [ReminderType], [SentAt], [Via]) VALUES (2, N'USER_0004', N'Blood Donation Reminder', CAST(N'2023-11-02T00:00:00.000' AS DateTime), N'Email')
INSERT [dbo].[ReminderLogs] ([Id], [UserId], [ReminderType], [SentAt], [Via]) VALUES (3, N'USER_0005', N'Blood Donation Reminder', CAST(N'2023-11-03T00:00:00.000' AS DateTime), N'Email')
SET IDENTITY_INSERT [dbo].[ReminderLogs] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([role_id], [role_name], [description]) VALUES (1, N'Admin', N'Administrator with full access')
INSERT [dbo].[Roles] ([role_id], [role_name], [description]) VALUES (2, N'Staff', N'Staff member with donation handling privileges')
INSERT [dbo].[Roles] ([role_id], [role_name], [description]) VALUES (3, N'Member', N'Individual donating blood')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
INSERT [dbo].[UserProfiles] ([profile_id], [user_id], [full_name], [date_of_birth], [gender], [address], [latitude], [longitude], [blood_type_id], [rh_factor], [medical_history], [last_blood_donation_date], [CCCD], [phone_number]) VALUES (N'PROFILE_0001', N'USER_0001', N'Nguyen Minh Quan', CAST(N'1990-01-01' AS Date), N'Male', N'123 Nguyễn Thị Minh Khai, Quận 1, TP.Hồ Chí Minh', CAST(10.762622 AS Decimal(9, 6)), CAST(106.695742 AS Decimal(9, 6)), 1, N'Positive', N'Healthy', CAST(N'2023-05-01' AS Date), N'123456789012', N'0901234567')
INSERT [dbo].[UserProfiles] ([profile_id], [user_id], [full_name], [date_of_birth], [gender], [address], [latitude], [longitude], [blood_type_id], [rh_factor], [medical_history], [last_blood_donation_date], [CCCD], [phone_number]) VALUES (N'PROFILE_0002', N'USER_0002', N'Tran Thi Thu', CAST(N'1991-02-01' AS Date), N'Female', N'456 Phan Đình Phùng, Quận 3, TP.Hồ Chí Minh', CAST(10.780749 AS Decimal(9, 6)), CAST(106.690501 AS Decimal(9, 6)), 2, N'Negative', N'Healthy', CAST(N'2023-06-01' AS Date), N'223456789012', N'0902345678')
INSERT [dbo].[UserProfiles] ([profile_id], [user_id], [full_name], [date_of_birth], [gender], [address], [latitude], [longitude], [blood_type_id], [rh_factor], [medical_history], [last_blood_donation_date], [CCCD], [phone_number]) VALUES (N'PROFILE_0003', N'USER_0003', N'Pham Minh Duc', CAST(N'1992-03-01' AS Date), N'Male', N'789 Bùi Thị Xuân, Quận 5, TP.Hồ Chí Minh', CAST(10.768722 AS Decimal(9, 6)), CAST(106.694513 AS Decimal(9, 6)), 3, N'Positive', N'Healthy', CAST(N'2023-07-01' AS Date), N'323456789012', N'0903456789')
GO
INSERT [dbo].[Users] ([user_id], [username], [password_hash], [email], [role_id], [registration_date], [last_login_date], [is_active]) VALUES (N'ALL', N'ALL', N'ALL', NULL, 2, NULL, NULL, NULL)
INSERT [dbo].[Users] ([user_id], [username], [password_hash], [email], [role_id], [registration_date], [last_login_date], [is_active]) VALUES (N'USER_0001', N'quanminhnguyen', N'hashedpassword', N'nguyenminhquan@example.com', 1, CAST(N'2022-01-01T00:00:00.0000000' AS DateTime2), CAST(N'2025-07-15T21:43:27.0166667' AS DateTime2), 1)
INSERT [dbo].[Users] ([user_id], [username], [password_hash], [email], [role_id], [registration_date], [last_login_date], [is_active]) VALUES (N'USER_0002', N'thu.trang', N'hashedpassword', N'trangthithu@example.com', 2, CAST(N'2022-02-01T00:00:00.0000000' AS DateTime2), CAST(N'2025-07-15T21:43:27.0166667' AS DateTime2), 1)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__BloodCom__2E7CCD4B95F902C2]    Script Date: 22/07/2025 9:07:29 CH ******/
ALTER TABLE [dbo].[BloodComponents] ADD  CONSTRAINT [UQ__BloodCom__2E7CCD4B95F902C2] UNIQUE NONCLUSTERED 
(
	[component_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__BloodTyp__543C4FD946E4B589]    Script Date: 22/07/2025 9:07:29 CH ******/
ALTER TABLE [dbo].[BloodTypes] ADD UNIQUE NONCLUSTERED 
(
	[type_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Roles__783254B1DC6569B3]    Script Date: 22/07/2025 9:07:29 CH ******/
ALTER TABLE [dbo].[Roles] ADD UNIQUE NONCLUSTERED 
(
	[role_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__UserProf__A1936A6B1CD0AE0D]    Script Date: 22/07/2025 9:07:29 CH ******/
ALTER TABLE [dbo].[UserProfiles] ADD UNIQUE NONCLUSTERED 
(
	[phone_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__UserProf__A955A0AA7757222C]    Script Date: 22/07/2025 9:07:29 CH ******/
ALTER TABLE [dbo].[UserProfiles] ADD UNIQUE NONCLUSTERED 
(
	[CCCD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__UserProf__B9BE370E0BA720B6]    Script Date: 22/07/2025 9:07:29 CH ******/
ALTER TABLE [dbo].[UserProfiles] ADD UNIQUE NONCLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UC_Email]    Script Date: 22/07/2025 9:07:29 CH ******/
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [UC_Email] UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__AB6E61647C55A6AE]    Script Date: 22/07/2025 9:07:29 CH ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__F3DBC57249A54D89]    Script Date: 22/07/2025 9:07:29 CH ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BloodUnits] ADD  DEFAULT ('Available') FOR [status]
GO
ALTER TABLE [dbo].[DonationHistory] ADD  DEFAULT (newid()) FOR [donation_id]
GO
ALTER TABLE [dbo].[DonationHistory] ADD  CONSTRAINT [DF_DonationHistory_Status]  DEFAULT ('Pending') FOR [status]
GO
ALTER TABLE [dbo].[DonationRequests] ADD  DEFAULT (newid()) FOR [request_id]
GO
ALTER TABLE [dbo].[DonationRequests] ADD  DEFAULT ('Pending') FOR [status]
GO
ALTER TABLE [dbo].[DonationRequests] ADD  DEFAULT (getdate()) FOR [request_date]
GO
ALTER TABLE [dbo].[EmergencyNotifications] ADD  DEFAULT (newid()) FOR [notification_id]
GO
ALTER TABLE [dbo].[EmergencyNotifications] ADD  DEFAULT (getdate()) FOR [sent_date]
GO
ALTER TABLE [dbo].[EmergencyNotifications] ADD  DEFAULT ((0)) FOR [is_read]
GO
ALTER TABLE [dbo].[EmergencyNotifications] ADD  DEFAULT ('No Response') FOR [response_status]
GO
ALTER TABLE [dbo].[EmergencyRequests] ADD  DEFAULT (newid()) FOR [emergency_id]
GO
ALTER TABLE [dbo].[EmergencyRequests] ADD  DEFAULT ('Medium') FOR [priority]
GO
ALTER TABLE [dbo].[EmergencyRequests] ADD  DEFAULT (getdate()) FOR [creation_date]
GO
ALTER TABLE [dbo].[EmergencyRequests] ADD  DEFAULT ('Pending') FOR [status]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT (newid()) FOR [notification_id]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT (getdate()) FOR [sent_date]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT ((0)) FOR [is_read]
GO
ALTER TABLE [dbo].[OtpCodes] ADD  DEFAULT ((0)) FOR [IsUsed]
GO
ALTER TABLE [dbo].[ReminderLogs] ADD  DEFAULT (getdate()) FOR [SentAt]
GO
ALTER TABLE [dbo].[UserProfiles] ADD  DEFAULT (newid()) FOR [profile_id]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (newid()) FOR [user_id]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [registration_date]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[BloodUnits]  WITH CHECK ADD FOREIGN KEY([donation_id])
REFERENCES [dbo].[DonationHistory] ([donation_id])
GO
ALTER TABLE [dbo].[DonationHistory]  WITH CHECK ADD FOREIGN KEY([blood_type_id])
REFERENCES [dbo].[BloodTypes] ([blood_type_id])
GO
ALTER TABLE [dbo].[DonationHistory]  WITH CHECK ADD FOREIGN KEY([donor_user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[DonationHistory]  WITH CHECK ADD FOREIGN KEY([staff_user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[DonationHistory]  WITH CHECK ADD  CONSTRAINT [FK_DonationHistory_DonationRequests] FOREIGN KEY([donation_request_id])
REFERENCES [dbo].[DonationRequests] ([request_id])
GO
ALTER TABLE [dbo].[DonationHistory] CHECK CONSTRAINT [FK_DonationHistory_DonationRequests]
GO
ALTER TABLE [dbo].[DonationHistory]  WITH CHECK ADD  CONSTRAINT [FK_DonationHistory_EmergencyRequests] FOREIGN KEY([EmergencyID])
REFERENCES [dbo].[EmergencyRequests] ([emergency_id])
GO
ALTER TABLE [dbo].[DonationHistory] CHECK CONSTRAINT [FK_DonationHistory_EmergencyRequests]
GO
ALTER TABLE [dbo].[DonationRequests]  WITH CHECK ADD FOREIGN KEY([blood_type_id])
REFERENCES [dbo].[BloodTypes] ([blood_type_id])
GO
ALTER TABLE [dbo].[DonationRequests]  WITH CHECK ADD FOREIGN KEY([donor_user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[EmergencyNotifications]  WITH CHECK ADD FOREIGN KEY([emergency_id])
REFERENCES [dbo].[EmergencyRequests] ([emergency_id])
GO
ALTER TABLE [dbo].[EmergencyNotifications]  WITH CHECK ADD FOREIGN KEY([recipient_user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[EmergencyRequests]  WITH CHECK ADD FOREIGN KEY([blood_type_id])
REFERENCES [dbo].[BloodTypes] ([blood_type_id])
GO
ALTER TABLE [dbo].[EmergencyRequests]  WITH CHECK ADD FOREIGN KEY([component_id])
REFERENCES [dbo].[BloodComponents] ([component_id])
GO
ALTER TABLE [dbo].[EmergencyRequests]  WITH CHECK ADD FOREIGN KEY([requester_user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD FOREIGN KEY([recipient_user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[ReminderLogs]  WITH CHECK ADD  CONSTRAINT [FK_ReminderLogs_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[ReminderLogs] CHECK CONSTRAINT [FK_ReminderLogs_Users]
GO
ALTER TABLE [dbo].[UserProfiles]  WITH CHECK ADD FOREIGN KEY([blood_type_id])
REFERENCES [dbo].[BloodTypes] ([blood_type_id])
GO
ALTER TABLE [dbo].[UserProfiles]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD FOREIGN KEY([role_id])
REFERENCES [dbo].[Roles] ([role_id])
GO
USE [master]
GO
