USE [master]
GO
/****** Object:  Database [bloodDSystem]    Script Date: 6/15/2025 11:43:04 AM ******/
CREATE DATABASE [bloodDSystem]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'bloodDSystem', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\bloodDSystem.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'bloodDSystem_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\bloodDSystem_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [bloodDSystem].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [bloodDSystem]
GO
/****** Object:  Table [dbo].[BloodComponents]    Script Date: 6/15/2025 11:43:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BloodComponents](
	[component_id] [int] IDENTITY(1,1) NOT NULL,
	[component_name] [varchar](50) NOT NULL,
	[description] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[component_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BloodTypes]    Script Date: 6/15/2025 11:43:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BloodTypes](
	[blood_type_id] [int] IDENTITY(1,1) NOT NULL,
	[type_name] [varchar](10) NOT NULL,
	[description] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[blood_type_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BloodUnits]    Script Date: 6/15/2025 11:43:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BloodUnits](
	[unit_id] [nvarchar](36) NOT NULL,
	[donation_id] [nvarchar](36) NULL,
	[blood_type_id] [int] NOT NULL,
	[component_id] [int] NOT NULL,
	[volume_ml] [int] NOT NULL,
	[collection_date] [date] NOT NULL,
	[expiration_date] [date] NOT NULL,
	[storage_location] [nvarchar](100) NULL,
	[test_results] [nvarchar](max) NULL,
	[status] [varchar](20) NULL,
	[discard_reason] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[unit_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DonationHistory]    Script Date: 6/15/2025 11:43:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonationHistory](
	[donation_id] [nvarchar](36) NOT NULL,
	[donor_user_id] [nvarchar](36) NOT NULL,
	[donation_date] [datetime2](7) NOT NULL,
	[blood_type_id] [int] NOT NULL,
	[component_id] [int] NOT NULL,
	[quantity_ml] [int] NULL,
	[eligibility_status] [varchar](20) NULL,
	[reason_ineligible] [nvarchar](max) NULL,
	[testing_results] [nvarchar](max) NULL,
	[staff_user_id] [nvarchar](36) NULL,
	[status] [varchar](20) NULL,
	[EmergencyID] [nvarchar](36) NULL,
	[Descriptions] [nvarchar](max) NULL,
	[donation_request_id] [nvarchar](36) NULL,
PRIMARY KEY CLUSTERED 
(
	[donation_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DonationRequests]    Script Date: 6/15/2025 11:43:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonationRequests](
	[request_id] [nvarchar](36) NOT NULL,
	[donor_user_id] [nvarchar](36) NOT NULL,
	[blood_type_id] [int] NOT NULL,
	[component_id] [int] NOT NULL,
	[preferred_date] [date] NULL,
	[preferred_time_slot] [nvarchar](50) NULL,
	[status] [varchar](20) NULL,
	[request_date] [datetime2](7) NULL,
	[staff_notes] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[request_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmergencyNotifications]    Script Date: 6/15/2025 11:43:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmergencyNotifications](
	[notification_id] [nvarchar](36) NOT NULL,
	[emergency_id] [nvarchar](36) NOT NULL,
	[recipient_user_id] [nvarchar](36) NOT NULL,
	[sent_date] [datetime2](7) NULL,
	[delivery_method] [varchar](20) NOT NULL,
	[is_read] [bit] NULL,
	[response_status] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[notification_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmergencyRequests]    Script Date: 6/15/2025 11:43:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmergencyRequests](
	[emergency_id] [nvarchar](36) NOT NULL,
	[requester_user_id] [nvarchar](36) NOT NULL,
	[blood_type_id] [int] NOT NULL,
	[component_id] [int] NOT NULL,
	[quantity_needed_ml] [int] NOT NULL,
	[priority] [varchar](10) NULL,
	[due_date] [datetime2](7) NOT NULL,
	[creation_date] [datetime2](7) NULL,
	[fulfillment_date] [datetime2](7) NULL,
	[description] [nvarchar](max) NULL,
	[status] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[emergency_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notifications]    Script Date: 6/15/2025 11:43:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notifications](
	[notification_id] [nvarchar](36) NOT NULL,
	[recipient_user_id] [nvarchar](36) NOT NULL,
	[message] [nvarchar](max) NOT NULL,
	[type] [varchar](20) NULL,
	[sent_date] [datetime2](7) NULL,
	[is_read] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[notification_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OtpCodes]    Script Date: 6/15/2025 11:43:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OtpCodes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Email] [varchar](100) NOT NULL,
	[Code] [varchar](10) NOT NULL,
	[ExpiredAt] [datetime2](7) NOT NULL,
	[IsUsed] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReminderLogs]    Script Date: 6/15/2025 11:43:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReminderLogs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](36) NOT NULL,
	[ReminderType] [varchar](50) NOT NULL,
	[SentAt] [datetime] NOT NULL,
	[Via] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 6/15/2025 11:43:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[role_id] [int] IDENTITY(1,1) NOT NULL,
	[role_name] [varchar](50) NOT NULL,
	[description] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserProfiles]    Script Date: 6/15/2025 11:43:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserProfiles](
	[profile_id] [nvarchar](36) NOT NULL,
	[user_id] [nvarchar](36) NOT NULL,
	[full_name] [nvarchar](100) NOT NULL,
	[date_of_birth] [date] NULL,
	[gender] [varchar](10) NULL,
	[address] [nvarchar](255) NULL,
	[latitude] [decimal](10, 8) NULL,
	[longitude] [decimal](11, 8) NULL,
	[blood_type_id] [int] NULL,
	[rh_factor] [varchar](10) NULL,
	[medical_history] [nvarchar](max) NULL,
	[last_blood_donation_date] [date] NULL,
	[CCCD] [varchar](20) NULL,
	[phone_number] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[profile_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 6/15/2025 11:43:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[user_id] [nvarchar](36) NOT NULL,
	[username] [varchar](50) NOT NULL,
	[password_hash] [varchar](255) NOT NULL,
	[email] [varchar](100) NULL,
	[role_id] [int] NOT NULL,
	[registration_date] [datetime2](7) NULL,
	[last_login_date] [datetime2](7) NULL,
	[is_active] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BloodComponents] ON 

INSERT [dbo].[BloodComponents] ([component_id], [component_name], [description]) VALUES (1, N'H?ng c?u', N'Tế bào mang oxy')
INSERT [dbo].[BloodComponents] ([component_id], [component_name], [description]) VALUES (2, N'Ti?u c?u', N'Tế bào giúp đông máu')
INSERT [dbo].[BloodComponents] ([component_id], [component_name], [description]) VALUES (3, N'Huy?t tuong', N'Phần lỏng chứa kháng thể')
SET IDENTITY_INSERT [dbo].[BloodComponents] OFF
GO
SET IDENTITY_INSERT [dbo].[BloodTypes] ON 

INSERT [dbo].[BloodTypes] ([blood_type_id], [type_name], [description]) VALUES (1, N'A', N'Group A blood type')
INSERT [dbo].[BloodTypes] ([blood_type_id], [type_name], [description]) VALUES (2, N'B', N'Group B blood type')
INSERT [dbo].[BloodTypes] ([blood_type_id], [type_name], [description]) VALUES (3, N'AB', N'Group AB blood type')
SET IDENTITY_INSERT [dbo].[BloodTypes] OFF
GO
INSERT [dbo].[BloodUnits] ([unit_id], [donation_id], [blood_type_id], [component_id], [volume_ml], [collection_date], [expiration_date], [storage_location], [test_results], [status], [discard_reason]) VALUES (N'48BD1A46-6D27-4AC0-B30D-1F55DFFAA9E3', N'CECDBA00-2396-45A7-928B-471BEE5AF446', 1, 1, 450, CAST(N'2024-09-15' AS Date), CAST(N'2024-12-15' AS Date), N'Tủ lạnh A1', N'{"Vi sinh":"Âm tính"}', N'Available', NULL)
GO
INSERT [dbo].[DonationHistory] ([donation_id], [donor_user_id], [donation_date], [blood_type_id], [component_id], [quantity_ml], [eligibility_status], [reason_ineligible], [testing_results], [staff_user_id], [status], [EmergencyID], [Descriptions], [donation_request_id]) VALUES (N'CECDBA00-2396-45A7-928B-471BEE5AF446', N'A0033333-CCCC-DDDD-EEEE-000000000003', CAST(N'2024-09-15T09:00:00.0000000' AS DateTime2), 1, 1, 450, N'Eligible', NULL, N'{"HIV":"Negative","HBV":"Negative"}', N'A0022222-BBBB-CCCC-DDDD-000000000002', N'Completed', NULL, NULL, NULL)
GO
INSERT [dbo].[EmergencyNotifications] ([notification_id], [emergency_id], [recipient_user_id], [sent_date], [delivery_method], [is_read], [response_status]) VALUES (N'E5CB011F-7F40-4C81-BD7A-727E37B0A7F7', N'00BA7551-1FAA-4284-B948-5897E2D1A1E3', N'A0033333-CCCC-DDDD-EEEE-000000000003', CAST(N'2025-06-08T14:06:15.2500000' AS DateTime2), N'App Notification', 0, N'No Response')
GO
INSERT [dbo].[EmergencyRequests] ([emergency_id], [requester_user_id], [blood_type_id], [component_id], [quantity_needed_ml], [priority], [due_date], [creation_date], [fulfillment_date], [description], [status]) VALUES (N'00BA7551-1FAA-4284-B948-5897E2D1A1E3', N'A0022222-BBBB-CCCC-DDDD-000000000002', 1, 1, 500, N'High', CAST(N'2025-06-09T14:00:00.0000000' AS DateTime2), CAST(N'2025-06-08T14:06:15.2466667' AS DateTime2), NULL, N'Cần máu A cho bệnh nhân phẫu thuật gấp tại BV Chợ Rẫy', N'Pending')
INSERT [dbo].[EmergencyRequests] ([emergency_id], [requester_user_id], [blood_type_id], [component_id], [quantity_needed_ml], [priority], [due_date], [creation_date], [fulfillment_date], [description], [status]) VALUES (N'fb15e985-3b9c-4e1d-8670-3afaa8bae08e', N'USER_A94CEA', 2, 1, 450, N'High', CAST(N'2025-06-30T10:00:00.0000000' AS DateTime2), CAST(N'2025-06-11T22:57:07.7230799' AS DateTime2), NULL, N'Khẩn cấp truyền máu BTaiPatrick', N'Pending')
GO
INSERT [dbo].[Notifications] ([notification_id], [recipient_user_id], [message], [type], [sent_date], [is_read]) VALUES (N'006B0F17-FEC0-4EE5-A1F8-12B4631A9D48', N'A0033333-CCCC-DDDD-EEEE-000000000003', N'Hệ thống nhắc nhở bạn kiểm tra lại tình trạng sức khỏe sau lần hiến máu gần nhất.', N'Reminder', CAST(N'2025-06-08T14:06:15.2500000' AS DateTime2), 0)
GO
SET IDENTITY_INSERT [dbo].[OtpCodes] ON 

INSERT [dbo].[OtpCodes] ([Id], [Email], [Code], [ExpiredAt], [IsUsed]) VALUES (1, N'se184332vubalong@gmail.com', N'900946', CAST(N'2025-06-09T07:06:06.4220131' AS DateTime2), 0)
INSERT [dbo].[OtpCodes] ([Id], [Email], [Code], [ExpiredAt], [IsUsed]) VALUES (2, N'se184332vubalong@gmail.com', N'472196', CAST(N'2025-06-09T07:08:24.4148370' AS DateTime2), 0)
INSERT [dbo].[OtpCodes] ([Id], [Email], [Code], [ExpiredAt], [IsUsed]) VALUES (3, N'se184332vubaolong@gmail.com', N'938222', CAST(N'2025-06-09T07:16:08.4183363' AS DateTime2), 0)
SET IDENTITY_INSERT [dbo].[OtpCodes] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([role_id], [role_name], [description]) VALUES (1, N'Member', NULL)
INSERT [dbo].[Roles] ([role_id], [role_name], [description]) VALUES (2, N'Staff', NULL)
INSERT [dbo].[Roles] ([role_id], [role_name], [description]) VALUES (3, N'Admin', NULL)
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
INSERT [dbo].[UserProfiles] ([profile_id], [user_id], [full_name], [date_of_birth], [gender], [address], [latitude], [longitude], [blood_type_id], [rh_factor], [medical_history], [last_blood_donation_date], [CCCD], [phone_number]) VALUES (N'P0000002-BBBB-CCCC-DDDD-000000000002', N'U0000002-BBBB-CCCC-DDDD-000000000002', N'Phạm Văn C', CAST(N'1993-07-22' AS Date), N'Male', N'Cần Thơ', CAST(10.04516200 AS Decimal(10, 8)), CAST(105.74685700 AS Decimal(11, 8)), 3, N'Positive', N'Không có', CAST(N'2024-11-05' AS Date), N'987654321002', N'0933555777')
INSERT [dbo].[UserProfiles] ([profile_id], [user_id], [full_name], [date_of_birth], [gender], [address], [latitude], [longitude], [blood_type_id], [rh_factor], [medical_history], [last_blood_donation_date], [CCCD], [phone_number]) VALUES (N'P0000003-CCCC-DDDD-EEEE-000000000003', N'U0000003-CCCC-DDDD-EEEE-000000000003', N'Trần Quốc Dũng', CAST(N'1989-11-15' AS Date), N'Male', N'Huế', CAST(16.46371300 AS Decimal(10, 8)), CAST(107.59086600 AS Decimal(11, 8)), 4, N'Positive', N'Có tiền sử viêm gan B', NULL, N'987654321003', N'0988666222')
INSERT [dbo].[UserProfiles] ([profile_id], [user_id], [full_name], [date_of_birth], [gender], [address], [latitude], [longitude], [blood_type_id], [rh_factor], [medical_history], [last_blood_donation_date], [CCCD], [phone_number]) VALUES (N'PROFILE_0001', N'USER_86876A', N'Vu Bao Long', CAST(N'2025-06-09' AS Date), N'Male', N'DA LAT', CAST(0.00000000 AS Decimal(10, 8)), CAST(0.00000000 AS Decimal(11, 8)), 2, N'string', N'string', CAST(N'2025-06-09' AS Date), N'987652435623', N'0988767656')
GO
INSERT [dbo].[Users] ([user_id], [username], [password_hash], [email], [role_id], [registration_date], [last_login_date], [is_active]) VALUES (N'26DBDF35-1B28-4E51-A5DC-1ADE72AD854A', N'staff_khiemgmailtest', N'khiem123', N'staffkhiem123@gmail.com', 2, CAST(N'2025-06-11T19:54:03.6433333' AS DateTime2), NULL, 1)
INSERT [dbo].[Users] ([user_id], [username], [password_hash], [email], [role_id], [registration_date], [last_login_date], [is_active]) VALUES (N'6B619224-46E5-4C2F-99CE-EF4BCDEABC8F', N'staff_khiem123test', N'khiem123', N'staffkhiem123@example.com', 2, CAST(N'2025-06-11T19:52:17.5066667' AS DateTime2), NULL, 1)
INSERT [dbo].[Users] ([user_id], [username], [password_hash], [email], [role_id], [registration_date], [last_login_date], [is_active]) VALUES (N'A0022222-BBBB-CCCC-DDDD-000000000002', N'staff1', N'hashed_pass_2', N'staff@example.com', 2, CAST(N'2025-06-08T14:06:15.2400000' AS DateTime2), NULL, 1)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__BloodCom__2E7CCD4BA2C0F5D6]    Script Date: 6/15/2025 11:43:04 AM ******/
ALTER TABLE [dbo].[BloodComponents] ADD UNIQUE NONCLUSTERED 
(
	[component_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__BloodTyp__543C4FD9F175B063]    Script Date: 6/15/2025 11:43:04 AM ******/
ALTER TABLE [dbo].[BloodTypes] ADD UNIQUE NONCLUSTERED 
(
	[type_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Roles__783254B1D1B550BD]    Script Date: 6/15/2025 11:43:04 AM ******/
ALTER TABLE [dbo].[Roles] ADD UNIQUE NONCLUSTERED 
(
	[role_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__UserProf__A1936A6BDF992A91]    Script Date: 6/15/2025 11:43:04 AM ******/
ALTER TABLE [dbo].[UserProfiles] ADD UNIQUE NONCLUSTERED 
(
	[phone_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__UserProf__A955A0AAD5C813DD]    Script Date: 6/15/2025 11:43:04 AM ******/
ALTER TABLE [dbo].[UserProfiles] ADD UNIQUE NONCLUSTERED 
(
	[CCCD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__UserProf__B9BE370ED74B28EC]    Script Date: 6/15/2025 11:43:04 AM ******/
ALTER TABLE [dbo].[UserProfiles] ADD UNIQUE NONCLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__AB6E6164164431C4]    Script Date: 6/15/2025 11:43:04 AM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__F3DBC572DDF56BA9]    Script Date: 6/15/2025 11:43:04 AM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BloodUnits] ADD  DEFAULT (newid()) FOR [unit_id]
GO
ALTER TABLE [dbo].[BloodUnits] ADD  DEFAULT ('Available') FOR [status]
GO
ALTER TABLE [dbo].[DonationHistory] ADD  DEFAULT (newid()) FOR [donation_id]
GO
ALTER TABLE [dbo].[DonationHistory] ADD  CONSTRAINT [DF_DonationHistory_Status]  DEFAULT ('Pending') FOR [status]
GO
ALTER TABLE [dbo].[DonationRequests] ADD  DEFAULT (newid()) FOR [request_id]
GO
ALTER TABLE [dbo].[DonationRequests] ADD  DEFAULT ('Pending') FOR [status]
GO
ALTER TABLE [dbo].[DonationRequests] ADD  DEFAULT (getdate()) FOR [request_date]
GO
ALTER TABLE [dbo].[EmergencyNotifications] ADD  DEFAULT (newid()) FOR [notification_id]
GO
ALTER TABLE [dbo].[EmergencyNotifications] ADD  DEFAULT (getdate()) FOR [sent_date]
GO
ALTER TABLE [dbo].[EmergencyNotifications] ADD  DEFAULT ((0)) FOR [is_read]
GO
ALTER TABLE [dbo].[EmergencyNotifications] ADD  DEFAULT ('No Response') FOR [response_status]
GO
ALTER TABLE [dbo].[EmergencyRequests] ADD  DEFAULT (newid()) FOR [emergency_id]
GO
ALTER TABLE [dbo].[EmergencyRequests] ADD  DEFAULT ('Medium') FOR [priority]
GO
ALTER TABLE [dbo].[EmergencyRequests] ADD  DEFAULT (getdate()) FOR [creation_date]
GO
ALTER TABLE [dbo].[EmergencyRequests] ADD  DEFAULT ('Pending') FOR [status]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT (newid()) FOR [notification_id]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT (getdate()) FOR [sent_date]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT ((0)) FOR [is_read]
GO
ALTER TABLE [dbo].[OtpCodes] ADD  DEFAULT ((0)) FOR [IsUsed]
GO
ALTER TABLE [dbo].[ReminderLogs] ADD  DEFAULT (getdate()) FOR [SentAt]
GO
ALTER TABLE [dbo].[UserProfiles] ADD  DEFAULT (newid()) FOR [profile_id]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (newid()) FOR [user_id]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [registration_date]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[BloodUnits]  WITH CHECK ADD FOREIGN KEY([blood_type_id])
REFERENCES [dbo].[BloodTypes] ([blood_type_id])
GO
ALTER TABLE [dbo].[BloodUnits]  WITH CHECK ADD FOREIGN KEY([component_id])
REFERENCES [dbo].[BloodComponents] ([component_id])
GO
ALTER TABLE [dbo].[BloodUnits]  WITH CHECK ADD FOREIGN KEY([donation_id])
REFERENCES [dbo].[DonationHistory] ([donation_id])
GO
ALTER TABLE [dbo].[DonationHistory]  WITH CHECK ADD FOREIGN KEY([blood_type_id])
REFERENCES [dbo].[BloodTypes] ([blood_type_id])
GO
ALTER TABLE [dbo].[DonationHistory]  WITH CHECK ADD FOREIGN KEY([component_id])
REFERENCES [dbo].[BloodComponents] ([component_id])
GO
ALTER TABLE [dbo].[DonationHistory]  WITH CHECK ADD FOREIGN KEY([donor_user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[DonationHistory]  WITH CHECK ADD FOREIGN KEY([staff_user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[DonationHistory]  WITH CHECK ADD  CONSTRAINT [FK_DonationHistory_DonationRequests] FOREIGN KEY([donation_request_id])
REFERENCES [dbo].[DonationRequests] ([request_id])
GO
ALTER TABLE [dbo].[DonationHistory] CHECK CONSTRAINT [FK_DonationHistory_DonationRequests]
GO
ALTER TABLE [dbo].[DonationHistory]  WITH CHECK ADD  CONSTRAINT [FK_DonationHistory_EmergencyRequests] FOREIGN KEY([EmergencyID])
REFERENCES [dbo].[EmergencyRequests] ([emergency_id])
GO
ALTER TABLE [dbo].[DonationHistory] CHECK CONSTRAINT [FK_DonationHistory_EmergencyRequests]
GO
ALTER TABLE [dbo].[DonationRequests]  WITH CHECK ADD FOREIGN KEY([blood_type_id])
REFERENCES [dbo].[BloodTypes] ([blood_type_id])
GO
ALTER TABLE [dbo].[DonationRequests]  WITH CHECK ADD FOREIGN KEY([component_id])
REFERENCES [dbo].[BloodComponents] ([component_id])
GO
ALTER TABLE [dbo].[DonationRequests]  WITH CHECK ADD FOREIGN KEY([donor_user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[EmergencyNotifications]  WITH CHECK ADD FOREIGN KEY([emergency_id])
REFERENCES [dbo].[EmergencyRequests] ([emergency_id])
GO
ALTER TABLE [dbo].[EmergencyNotifications]  WITH CHECK ADD FOREIGN KEY([recipient_user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[EmergencyRequests]  WITH CHECK ADD FOREIGN KEY([blood_type_id])
REFERENCES [dbo].[BloodTypes] ([blood_type_id])
GO
ALTER TABLE [dbo].[EmergencyRequests]  WITH CHECK ADD FOREIGN KEY([component_id])
REFERENCES [dbo].[BloodComponents] ([component_id])
GO
ALTER TABLE [dbo].[EmergencyRequests]  WITH CHECK ADD FOREIGN KEY([requester_user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD FOREIGN KEY([recipient_user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[UserProfiles]  WITH CHECK ADD FOREIGN KEY([blood_type_id])
REFERENCES [dbo].[BloodTypes] ([blood_type_id])
GO
ALTER TABLE [dbo].[UserProfiles]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD FOREIGN KEY([role_id])
REFERENCES [dbo].[Roles] ([role_id])
GO
USE [master]
GO
